/*
 * jQuery FlexSlider v2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */

 
/* Browser Resets */
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;} 

/* FlexSlider Necessary Styles
*********************************/ 
.three-columns-layout .center_350 .flexslider{min-height: 349px;}
.flexslider {margin: 0; padding: 0; min-height: 375px; background: #fff url(../img/loader.gif) no-repeat center center; }
.flexslider .slides > li {display: none; margin:0px; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img { width:100%; display: block;}
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;} 
html[xmlns] .slides {display: block;} 
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}


/* FlexSlider Default Theme
*********************************/
.flexslider {margin: 0 0 0px; position: relative;}
.flex-viewport {max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; transition: all 1s ease;}
.loading .flex-viewport {max-height: 300px;}
.flexslider .slides {zoom: 1;}


/* Direction Nav */
.flex-direction-nav {*height: 0;}
.flex-direction-nav a {width: 28px; height: 28px; margin: -20px 0 0; display: block; background:#dd3333 url(../img/bg_direction_nav.png) no-repeat 0 0; position: absolute; top: 30px; z-index: 10; cursor: pointer; text-indent: -9999px; -webkit-transition: all .3s ease; -webkit-border-radius: 4px; -moz-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px;}
.flex-direction-nav .flex-next {background-position: 100% 0; right: 10px; }
.flex-direction-nav .flex-prev {right: 45px;}
.flexslider:hover .flex-next {}
.flexslider:hover .flex-prev {}
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover {opacity: 0.8;}
.flex-direction-nav .flex-disabled {opacity: .3!important; filter:alpha(opacity=30); cursor: default;}


/* Control Nav */
.flex-control-nav {width: auto; position: absolute; top: 10px; right: 80px; height:28px; padding:0px 4px; text-align: center; background:url(../img/control.png) repeat; -webkit-border-radius: 4px; -moz-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px;}
.flex-control-nav li { margin: 0px 3px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-paging li a { margin-top:9px; width: 11px; height: 11px; display: block; background: #FFF; background: rgba(255,255,255); cursor: pointer; text-indent: -9999px; font-size:1px; -webkit-border-radius: 20px; -moz-border-radius: 20px; -o-border-radius: 20px; border-radius: 20px;}
.flex-control-paging li a:hover { background: #dd3333 url(../img/control-nav.png) repeat-x bottom;  }
.flex-control-paging li a.flex-active { background: #dd3333 url(../img/control-nav.png) repeat-x bottom;  cursor: default; }

.flex-control-thumbs {margin: 5px 0 0; position: static; overflow: hidden;}
.flex-control-thumbs li {width: 25%; float: left; margin: 0;}
.flex-control-thumbs img {width: 100%; display: block; opacity: .7; cursor: pointer;}
.flex-control-thumbs img:hover {opacity: 1;}
.flex-control-thumbs .flex-active {opacity: 1; cursor: default;}


.center_350 .caption{width:555px;}
.caption{
background:url(../img/caption.png) repeat;
z-index: 99;
padding:10px;
position: absolute;
bottom:0px;
width:605px;
overflow: hidden;

color: #fff;}
.caption h4{ margin:0px; padding:0px;}
.caption h4 a{ color:#FFF; font-size:18px;}
.caption span.date{ background:#dd3333; float:left; font-size:12px; padding:0px 5px; -webkit-border-radius: 4px; -moz-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px; margin-right:5px;}
.caption .review-star{ top:3px;}
