/* Options Framework Admin Styles */

.updated {
	max-width:764px;
	margin-bottom:0px !important;
}
#optionsframework {
	position:relative;
	z-index: 0;
	max-width:780px;
	background:#F8F8F8;
}
#optionsframework h3 {
	cursor: default;
	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;
}
#optionsframework p {
	margin-bottom:0;
	padding-bottom:10px;
	line-height: 1.4em;
}
#optionsframework .section {
	padding:10px 10px 0;
}
#optionsframework .group {
	padding-bottom:40px;
}
#optionsframework .section .heading {
	padding:10px 0px;
	margin:0 0 15px;
	border-bottom: 1px solid #dfdfdf;
}
#optionsframework .section .controls {
	float: left;
	min-width:330px;

	padding-right:2%;
}
#optionsframework .section .explain {
	max-width:30%;
	float: left;
	font-size: 12px;
	line-height:16px;
	color: #777;
	float:right;
}
#optionsframework .section-checkbox .controls {
	width: 98%;
}
#optionsframework .section-checkbox .explain {
	max-width:30%;
}
#optionsframework .of-input {
	width:100%;
}
#optionsframework .controls select, #optionsframework .controls textarea {
	margin-bottom:10px;
	width:100%;
}
#optionsframework .section-radio label, #optionsframework .section-multicheck label {
	float:left;
	max-width:90%;
	line-height: 16px;
	margin-bottom: 5px;
}
#optionsframework input.checkbox, #optionsframework input.of-radio {
	width: 30px;
	margin-top:2px;
	float:left;
	clear:both;
}
#optionsframework .section-typography .controls {
	float:none;
	width:auto;
}
#optionsframework .section-typography .explain {
	float:right;
	width:30%;
}
#optionsframework .controls .of-typography-size {
	width:80px;
	float:left
}
#optionsframework .controls .of-typography-unit {
	width:50px;
	margin-left:5px;
	float:left
}
#optionsframework .controls .of-typography-face {
	width:100px;
	margin-left:5px;
	float:left
}
#optionsframework .controls .of-typography-style {
	width:80px;
	margin-left:5px;
	margin-right:5px;
	float:left
}
#optionsframework .of-background-properties {
	clear:both;
	margin-top: 18px;	
}
#optionsframework .controls .of-background-repeat {
	width:125px;
	margin-right:5px;
	float:left
}
#optionsframework .controls .of-background-position {
	width:125px;
	margin-right:5px;
	float:left
}
#optionsframework .controls .of-background-attachment {
	width:125px;
	margin-right:5px;
	float:left
}
#optionsframework .section-background .wp-picker-container {
	margin-bottom:10px;
}
#optionsframework .controls .of-radio-img-img {
	border:3px solid #f9f9f9;
	margin:0 5px 10px 0;
	display:none;
	cursor:pointer;
	float:left;
}
#optionsframework .controls .of-radio-img-selected {
	border:3px solid #0288e5;
}
#optionsframework .controls .of-radio-img-img:hover {
	opacity:.8;
}
#optionsframework .controls .of-border-width {
	width:80px;
	float:left
}
#optionsframework .controls .of-border-style {
	width:120px;
	float:left
}
#optionsframework .hide {
	display:none;
}
#optionsframework .of-option-image {
	max-width:340px;
	margin:3px 0 18px 0;
}
#optionsframework .mini .controls select, #optionsframework .section .mini .controls {
	width: 140px;
}
#optionsframework .mini .controls input, #optionsframework .mini .controls {
	min-width:140px;
	width: 140px;
}
#optionsframework .mini .explain {
	max-width:30%;
}

/* Editor */

#optionsframework .section-editor .explain {
	max-width: 98%;
	float:none;
	margin-bottom:5px;
}

/* Image Uploader */

#optionsframework .controls input.upload {
	width:80%;
}
#optionsframework .controls input.upload_button {
	float:right;
	border-color:#BBBBBB;
	cursor:pointer;
}
#optionsframework .controls input.upload_button:hover {
	border-color:#666666;
	color:#000;
}
#optionsframework .screenshot {
	float:left;
	margin-left:1px;
	position:relative;
	width:344px;
	margin-top:3px;
}
#optionsframework .screenshot img {
	background:#FAFAFA;
	border-color:#ccc #eee #eee #ccc;
	border-style:solid;
	border-width:1px;
	float:left;
	max-width:334px;
	padding:4px;
	margin-bottom:10px;
}
#optionsframework .screenshot .remove-image {
	background:url("../images/ico-delete.png") no-repeat;
	border:medium none;
	bottom:4px;
	display:block;
	float:left;
	height:16px;
	padding:0;
	position:absolute;
	left:-4px;
	text-indent:-9999px;
	width:16px;
}
#optionsframework .screenshot .no_image .file_link {
	margin-left: 20px;
}
#optionsframework .screenshot .no_image .remove-button {
	bottom: 0px;
}
#optionsframework .reset-button {
	float:left;
	cursor:pointer;
}

/* Bottom Section */

#optionsframework-submit {
	padding: 7px 10px;
	border-top: 1px solid #ECECEC;
	background-color: #F1F1F1;
    background-image: -moz-linear-gradient(center top , #F9F9F9, #ECECEC);
}
#optionsframework .button-primary {
	float:right;
}
#optionsframework .section:after {
	content: "";
	display: table;
}
#optionsframework .section:after {
	clear: both;
}

.option_main_wrap{padding:30px 0px;}
.option_wrap {
	-webkit-box-shadow:0 0 5px 1px rgba(168, 168, 168, 0.6); -moz-box-shadow:0 0 5px 1px rgba(168, 168, 168, 0.6); box-shadow:0 0 5px 1px rgba(168, 168, 168, 0.6);
	width:800px;
	margin:30px auto 30px auto;
	background:#FFF url(../images/left_bg.png) repeat-y;
	border:1px solid #9d9d9d;
}
.links {
	height:158px;
	overflow:hidden;
	margin-bottom:7px;
}
.author_theme{float:left; padding-left:10px; padding-top:25px; width:450px; color:#222;}
.author_theme h2 a{ color:#222;}
.author_theme img{width: 150px; height:120px; border:3px solid #ccc; float: left; margin-right: 10px;}
.author_theme .version{ color:#222; font-style:italic;}
.save_theme{float:right;}
.save_theme .top-button{float:right; margin-top:130px; margin-right:15px;}
.option_wrap .manu_wraper {
	float:left;
	width:178px;
}
.option_wrap .content_wraper {
	background:#fff;
    float:right;
    width: 622px;
}

.metabox-holder{ padding:10px;}

.logo {
	height:148px;
	padding-top:0px;
	padding-bottom:15px;
	text-align:center;
}
.option-tab-wrapper {
	float:left;
	width:178px;
	border-bottom:1px solid #3dadfc;
}
.option-tab-wrapper li{
	margin-bottom:0px;
	background:url(../images/nav_tab.png) no-repeat;
	height:49px;
	position:relative

}
.option-tab-wrapper li a{
	background:none;
	width:144px;
	border:none;
	display:block;
	height:49px;
	color:#d2d2d2;
	text-shadow:0 1px 0 #000711;
	text-decoration:none;
	line-height:45px;
	padding-left:20px;
	font-size:13px;
	text-transform:capitalize;
	font-weight:bold;
  }

.option-tab-wrapper li a.nav-tab-active, .option-tab-wrapper li a:hover {
	background: url(../images/nav_tab_hover.png) no-repeat;
	border-radius: 0px;
	-webkit-border-radius: 0px;
	-moz-border-radius:0px;
	color:#fff;
	text-shadow:0 1px 0 #3dadfc;
}

.toggle-option { overflow-y:scroll; height: 400px; }